/* ==========================
RESET
========================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#f3f4f7;

padding-bottom:140px;

}

/* ==========================
HEADER
========================== */

.seat-header{

height:80px;

background:#ff6600;

display:flex;

align-items:center;

padding:0 20px;

color:#fff;

box-shadow:0 3px 10px rgba(0,0,0,.15);

}

.back-btn{

width:45px;

height:45px;

border:none;

border-radius:50%;

background:rgba(255,255,255,.15);

color:#fff;

font-size:18px;

cursor:pointer;

margin-right:15px;

}

.seat-header h2{

font-size:20px;

font-weight:600;

}

.seat-header p{

font-size:13px;

opacity:.9;

}

/* ==========================
TRIP INFO
========================== */

.trip-info{

display:flex;

justify-content:space-around;

background:#fff;

padding:18px;

margin:18px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.trip-info h4{

font-size:13px;

color:#888;

margin-bottom:5px;

}

.trip-info p{

font-weight:600;

}

/* ==========================
LEGEND
========================== */

.legend{

display:flex;

justify-content:space-around;

margin:15px;

}

.legend div{

display:flex;

align-items:center;

gap:8px;

font-size:13px;

}

.legend .seat{

width:22px;

height:22px;

border-radius:6px;

}

.available{

background:#ffffff;

border:2px solid #1976ff;

}

.booked{

background:#d7d7d7;

}

.selected{

background:#1976ff;

}

/* ==========================
BUS
========================== */

.bus-layout{

background:#fff;

margin:18px;

padding:20px;

border-radius:18px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.driver{

display:flex;

justify-content:flex-end;

font-size:42px;

margin-bottom:25px;

color:#444;

}

#seatContainer{

display:grid;

grid-template-columns:
repeat(5,60px);

justify-content:center;

gap:14px;

}

.seat{

width:55px;

height:55px;

border-radius:8px;

display:flex;

align-items:center;

justify-content:center;

font-weight:600;

cursor:pointer;

transition:.2s;

}

.available:hover{

background:#1976ff;

color:#fff;

}

/* ==========================
BOTTOM
========================== */

.selection{

position:fixed;

bottom:0;

left:0;

width:100%;

background:#fff;

padding:20px;

box-shadow:0 -3px 15px rgba(0,0,0,.1);

}

.selection h3{

margin-bottom:10px;

}

#selectedSeats{

font-size:15px;

margin-bottom:12px;

color:#555;

}

#totalPrice{

color:#ff6600;

margin-bottom:15px;

}

#continueBtn{

width:100%;

height:52px;

border:none;

border-radius:12px;

background:#ff6600;

color:#fff;

font-size:18px;

font-weight:600;

cursor:pointer;

}
